@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
.yellowProfile {
    background-color: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .leftComponentsContainer {
        width: 300px;
        height: auto;
        .leftComponent {
            background-color: #ffffff;
            margin: 5px 0;
            border: 1px solid #dddfe2;
            padding: 12px;
            >h3 {
                @include ms-font-l;
            }
            .personProperty {
                display: block;
                padding: 0 0 10px 0
            }
            .bodyIcon {
                margin-right: 5px;
            }
            .headerIcon {
                margin-right: 5px;
                font-size: 20px;
            }
            .imagePreview {
                height: 100%;
                width: 100%;
                margin: 2px;
                object-fit: cover;
            }
            a {
                text-decoration: none;
            }
            .friends {
                display: flex;
                flex-wrap: wrap;
                .friend {
                    width: 89px;
                    height: 89px;
                    margin: 1px;
                    text-align: center;
                    a {
                        display: block;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        background-image: linear-gradient(#11111104, #111111c2);
                        text-decoration: none;
                        position: relative;
                        top: -25px;
                        color: #fff;
                        font-weight: 100;
                    }
                }
            }
        }
    }
    .feed {
        display: block;
        width: 480px;
        padding: 5px;
        .statusUpdateHeader {
            display: block;
            margin-bottom: 15px;
            height: auto;
            padding: 15px;
        }
    }
}
