@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
.yellowProfile {
    display: flex;
    .leftComponentsContainer {
        width: 300px;
        height: auto;
        .leftComponent {
            width: 100%;
            margin: 10px 0;
            border: 1px solid #dddfe2;
            padding: 12px;
            .personProperty{
                display: block;
                padding: 0 0 10px 0
            }
            .bodyIcon{
                margin-right: 5px;
            }
        }
    }
    .feed {
        width: 600px;
        padding: 5px;
    }
}
