@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
.yellowProfile {
    background-color: #fed90f;
    display: flex;
    .leftComponentsContainer {
        width: 300px;
        height: auto;
        .leftComponent {
            background-color: #ffffff;
            margin: 5px 0;
            border: 1px solid #dddfe2;
            padding: 12px;
            >h3 {
                @include ms-font-l;
            }
            .personProperty {
                display: block;
                padding: 0 0 10px 0
            }
            .bodyIcon {
                margin-right: 5px;
            }
            .imagePreview{
                margin: 1px;
                height: 89px;
                width: 89px;
                object-fit: cover;
            .friend {
                width: 89px;
                height: 89px;
                margin: 1px;
                > a  {
                  text-decoration: none;
                  text-align: bottom;
                }
            }
        }
    }
    .feed {
        display: block;
        width: 600px;
        padding: 5px;
        .statusUpdateHeader {
            display: block;
        }
    }
}
