@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.yellowFacebook {
  
  .feed {
    display: block;
    width: 480px;
    padding: 5px;
    .statusUpdateHeader {
        max-width: 480px;
        display: block;
        margin-bottom: 15px;
        height: auto;
        padding: 15px;
      > div{
        width:450px;
      }
    }
}
}