@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.yellowFacebook {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  .feed {
    display: block;
    width: 480px;
    padding: 5px;
    .statusUpdateHeader {
        max-width: 480px;
        display: block;
        margin-bottom: 15px;
        height: auto;
        padding: 15px;
      > div{
        width:450px;
      }
      .userProfileLink {
        cursor: pointer;
      }
    }
}
.newAdd{
  margin: 8px;
  position: absolute;
  right: 0px;
  top: 146px;
}
}
