@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.yellowFacebook {
  
  .feed {
    display: block;
    width: 600px;
    padding: 5px;
    .statusUpdateHeader {
        display: block;
        margin-bottom: 15px;
    }
}
}